[Unit]
Description=Nimbus Eth1 node on {{ nimbus_eth1_network }} network ({{ nimbus_eth1_repo_branch }})
Documentation=https://github.com/status-im/nimbus-eth1
Requires=network-online.target
After=network-online.target

[Service]
User={{ nimbus_eth1_service_user }}
Group={{ nimbus_eth1_service_group }}
WorkingDirectory={{ nimbus_eth1_service_path }}
SyslogIdentifier={{ nimbus_eth1_service_name }}
SyslogFacility=local6
SyslogLevel=debug
Restart=on-failure
ExecStart={{ nimbus_eth1_repo_path }}/build/nimbus \
    --network={{ nimbus_eth1_network }} \
    --data-dir='{{ nimbus_eth1_data_path }}/{{ nimbus_eth1_data_folder }}' \
    --nat=extip:{{ nimbus_eth1_public_address }} \
    --log-level={{ nimbus_eth1_log_level }} \
    --listen-address={{ nimbus_eth1_listening_addr }} \
    --tcp-port={{ nimbus_eth1_listening_port }} \
    --udp-port={{ nimbus_eth1_discovery_port }} \
    --max-peers={{ nimbus_eth1_max_peers }} \
{% if nimbus_eth1_discovery_mode %}
    --discovery={{ nimbus_eth1_discovery_mode }} \
{% endif %}
{% if nimbus_eth1_jwt_secret is defined %}
    --jwt-secret={{ nimbus_eth1_jwt_secret_path | mandatory }} \
{% endif %}
    --rpc={{ nimbus_eth1_rpc_enabled | to_json }} \
    --ws={{ nimbus_eth1_ws_enabled | to_json }} \
    --graphql={{ nimbus_eth1_graphql_enabled | to_json }} \
{% if nimbus_eth1_rpc_enabled or nimbus_eth1_ws_enabled or nimbus_eth1_graphql_enabled %}
    --http-address={{ nimbus_eth1_rpc_address }} \
    --http-port={{ nimbus_eth1_rpc_port }} \
{% endif %}
{% if nimbus_eth1_rpc_enabled %}
    --rpc-api={{ nimbus_eth1_rpc_api | join(",") }} \
{% endif %}
{% if nimbus_eth1_ws_enabled %}
    --rpc-api={{ nimbus_eth1_ws_api | join(",") }} \
{% endif %}
    --engine-api={{ nimbus_eth1_engine_http_enabled | to_json }} \
    --engine-api-ws={{ nimbus_eth1_engine_ws_enabled | to_json }} \
{% if nimbus_eth1_engine_http_enabled or nimbus_eth1_engine_ws_enabled %}
    --engine-api-address={{ nimbus_eth1_engine_http_address }} \
    --engine-api-port={{ nimbus_eth1_engine_http_port }} \
{% endif %}
    --metrics={{ nimbus_eth1_metrics_enabled | to_json }} \
{% if nimbus_eth1_metrics_enabled %}
    --metrics-address={{ nimbus_eth1_metrics_address }} \
    --metrics-port={{ nimbus_eth1_metrics_port }}
{% endif %}

[Install]
WantedBy=multi-user.target
